/* Sets primary text attributes for all elements */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Sets the table data to relative positioning so that the input can be absolutely positioned */
td {
    position:relative;
}

/* Styles the text input to take up the entire cell of the table */
td > input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

/*sets the text size and border attributes for the jumbotron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Sets background colors for all time-based classes. These are applied dynamically by the JavaScript */
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

/* Styles the save button and its hover behavior */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  color: #000000;
  transition: all 0.3s ease-in-out;
}
